.container {
  width: 100%;
  height: 100%;
  background-color: #111827; /* bg-gray-900 */
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.placeholder {
  color: #4b5563; /* text-gray-600 */
  font-size: 0.875rem;
}

.fallbackImage {
  width: 60%;
  height: 60%;
  object-fit: contain;
  opacity: 0.3;
}


